# General Project Settings
COMPOSE_PROJECT_NAME=app # Name of the Docker compose project, used to namespace container names
ENVIRONMENT=dev # Deployment environment: can be one of local, staging, or production

# OpenAI Settings
WORKDIR=/app # Default working directory for the application

# FastAPI Settings
SLACK_BACKEND_FASTAPI_PORT=6002 # The port on which the Slack backend's FastAPI server listens (6002 is chosen to avoid conflicts on Macs)

# Security Settings
SECRET_KEY=0c0794abb399d2908c7693719f0539d5b8efed88b68f8fc2b59ba6b289a93978 # A secret key used for encryption, token generation, etc.
ALGORITHM=HS256 # The algorithm used for encoding or decoding JWT tokens
ACCESS_TOKEN_EXPIRE_MINUTES=30 # The expiration time in minutes for the JWT access token

# PostgreSQL Database Settings
POSTGRES_HOST= # The hostname or IP address of the PostgreSQL server (mandatory)
POSTGRES_PORT= # The port number on which the PostgreSQL server is running (mandatory)
POSTGRES_USER= # The username used to connect to the PostgreSQL database (mandatory)
POSTGRES_PASSWORD= # The password used to connect to the PostgreSQL database (mandatory)
POSTGRES_DB= # The name of the database to connect to on the PostgreSQL server (mandatory)

# VectorDB Settings (Placeholder for actual settings)
# Additional database or service settings can be added here

# Mail Configuration
MAIL_USERNAME=example@example.com # Username for the email service account
MAIL_PASSWORD=Admin12345 # Password for the email service account
MAIL_FROM=example@example.com # The email address that will appear in the "From" field of sent emails (prod - mandatory)
MAIL_PORT=465 # Port number for the email server (465 is commonly used for SSL)
MAIL_SERVER=smtp.example.com # Hostname or IP address of the email server
MAIL_STARTTLS=FALSE # Specifies whether to use StartTLS (use TRUE to enable)
MAIL_SSL_TLS=TRUE # Specifies whether to use SSL/TLS for email encryption (use TRUE to enable)

# Traefik Configuration
LETS_ENCRYPT_EMAIL= # Email address to receive Let's Encrypt notifications for SSL certificate management (prod - mandatory)
TRAEFIK_DASHBOARD_URL=traefik.localhost # URL to access the Traefik dashboard (optional)
TRAEFIK_DASHBOARD_USERNAME=admin # Username for Traefik dashboard authentication (optional)
TRAEFIK_DASHBOARD_PASSWORD=Admin12345 # Hashed password for Traefik dashboard authentication (optional)
TRAEFIK_BACKEND_URL=backend.localhost # URL where external services can connect and communicate with the API (mandatory)
TRAEFIK_FRONTEND_URL=localhost # URL where the frontend service will be accessible (mandatory)

ANALITIQ_URL=http://localhost:6001 # URL of the Analitiq service
ANALITIQ_ACCESS_TOKEN= #Eternal access token for this slack bot backend to access analitiq backend.

SLACK_BOT_TOKEN= #Slack bot token starting with 'xoxb'